body{
  font-family: 'Raleway', sans-serif;
}

.navbar {
  opacity: 0.9;
}

#header-section .header-inner {
  padding-top: 160px;
  padding-bottom: 120px;
}

#explore-section{
  padding-top: 120px;
}

#create-section{
  padding-top: 120px;
}

#contactUs-section{
  padding-top: 120px;
  padding-bottom: 120px;
}

#calculatorProject-section .section-inner{
  padding-top: 120px;
  padding-bottom: 120px;
}

#contactUs-section .container{
  border-radius: 8px;
}