
.navbar {
  opacity: 0.9;
}

.header {
  padding: 120px 0px;
}

.gradient-animation {
  background:linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
  color: transparent;
  background-size: 1000px 100%;
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
  animation: gradient 150s infinite;
}

@keyframes gradient {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

.work .row {
  align-items: center;
  margin-bottom: 120px;
}

.text-link {
  text-decoration: none;
}

.center {
  align-items: center;
}


