.navbar {
  opacity: 0.9;
}

.header {
  padding: 120px 0px 0px 0px;
}

.headerWork {
  padding: 80px 0px;
}

.gradient-animation {
  background: linear-gradient(
    to left,
    #c156c2,
    #56c4f5,
    #76dd2c,
    #f4cd44,
    #e46161,
    #c156c2
  );
  color: transparent;
  background-size: 1000px 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient 120s infinite;
}

@keyframes gradient {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

.work .row {
  align-items: center;
  margin-bottom: 120px;
}

.text-link {
  text-decoration: none;
}

.center {
  align-items: center;
}

.load-animation {
  animation-duration: 2s;
  animation-name: load;
  position: relative;
}

@keyframes load {
  0% {
    top: 80px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.img-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.row-align {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-box-align: stretch;
  align-items: stretch;
  position: relative;
  left: 0px;
}

.row-animation {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: row;
}

@keyframes row {
  0% {
    left: 0px;
  }
  100% {
    left: -2500px;
  }
}

.img-size {
  height: 400px;
  width: 400px;
  flex: 0 0 auto;
  box-shadow: rgb(0 0 0) 0px 0px 20px;
}
